@import '../../styles/variables';
@import '../../styles/rwd';

.roadmap-comp {
  background-color: #000123;
  padding: 24px 0;

  &-title {
    text-align: center;
    margin: $margin-top-primary 0;
  }
}

.roadmap-comp-content .item-container {
  &:not(:last-child) {
    margin-bottom: 24px;
  }

  .item {
    @include mobile {
      width: 100%;
    }
    @include tablet {
      width: 100%;
    }
    @include desktop {
      width: 70%;
    }
    @include wide-desktop {
      width: 60%;
    }

    .box {
      width: 70%;
      min-height: 150px;
      border-radius: 30px;
      background-color: #D0D2D7;
      color: #fff;
      padding: 20px;
      position: relative;
      margin-right: 10px;

      &.message-body:after {
        content: " ";
        position: absolute;
        right: -10px;
        bottom: 50%;
        transform: translateY(50%);
        border-top: 10px solid transparent;
        border-right: none;
        border-left: 10px solid #D0D2D7;
        border-bottom: 10px solid transparent;
      }
    }

    .message-body {
      .content {
        font-family: MuliBold, sans-serif;
        color: #000000;
        font-size: 1.7rem;
        @include smallScreen {
          font-size: 1.2rem;
        }
      }
    }

    .circle-percent {
      height: 150px;

      .circle-percent-container {
        height: 100%;

        .arrow img {
          width: 50px;
          transform: scaleX(-1);
        }

        .circle-border {
          margin-left: 10px;

          &-container {
            width: 60px;
            height: 60px;
            border-radius: 100%;
            background-color: #363754;

            .percent {
              color: #fdf7f5;
              font-weight: bold;
              font-size: 1.3rem;
              font-family: MuliBold, sans-serif;
              @include smallScreen{
                font-size: 1.1rem;
              }
            }
          }
        }
      }
    }
  }
}

.content-flip {
  transform: scaleX(-1);

  .message-body .content, .circle-border .circle-border-container .percent {
    transform: scaleX(-1);
  }
}

.roadmap-comp-scroll {
  margin-top: 30px;

  .scroll-img {
    width: 80px;
    margin-top: $margin-top-primary;

    img {
      width: 100%;
    }
  }
}
