@import "../../styles/variables";
@import "../../styles/rwd";

.about-comp {
  background-color: #000123;
  min-height: 100vh;
  padding: 24px 0;

  &-title {
    text-align: center;
    margin: $margin-top-primary 0;
  }

  &-items {
    min-height: calc(100vh - 88px - 80px);
  }
}

.about-comp-items .content-item {
  .content-desc {
    text-align: center;
    width: 80%;

    .content {
      font-size: 2rem;
      line-height: 3rem;
    }

    @include mobile {
      width: 100%;
      .content {
        font-size: 1.5rem;
        line-height: 2rem;
      }
    }

    @include tablet {
      width: 100%;
    }
  }

  @include mobile {
    order: 2;
  }
  @include tablet {
    order: 2;
  }
}

.about-comp-items {
  .content-img {
    img {
      width: 100%;
    }

    @include mobile {
      margin-bottom: $margin-top-primary;
    }

    @include tablet {
      margin-bottom: $margin-top-primary;
    }
  }
}

.about-comp-scroll {
  text-align: center;

  .scroll-title {
    color: $primary-color;
    font-family: TTOctoSquaresExp, sans-serif;
  }

  .scroll-img {
    width: 80px;
    margin-top: $margin-top-primary;

    img {
      width: 100%;
    }
  }
}