@import "../../styles/variables";
@import "../../styles/rwd";

.about-comp {
  background-color: #000123;
  padding-top: 24px;

  &-title {
    text-align: center;
    margin: $margin-top-primary 0;
  }

  @include mobile {
    &-container {
      padding-right: 0 !important;
      padding-left: 0 !important;
    }
  }
}

.about-comp-items .about-content-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 12px;

  .first-img, .img-collection {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .img-collection, .third-paragraph {
    grid-column: 3/7;
  }

  .first-paragraph {
    background-color: #7183D6;
  }

  .second-paragraph {
    background-color: #363754;
  }

  .third-paragraph {
    background-color: #D0D2D7;
  }

  .first-img {
    grid-row: 2/4;
    grid-column: 1/3;
  }

  .img-collection {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }

  .first-paragraph, .second-paragraph, .third-paragraph {
    padding: 24px;
  }

  .content-item .content {
    color: #ffffff;
    font-size: 1.7rem;
  }

  @include mobile {
    grid-template-columns: repeat(1, 1fr);
    .first-paragraph, .second-paragraph, .third-paragraph, .img-collection, .first-img {
      grid-column: unset;
    }
    .first-img {
      grid-row: unset;
    }
  }
  @include desktop {
    .first-paragraph {
      grid-column: 1/4;
    }
    .second-paragraph {
      grid-column: 4/7;
    }
  }
  @include wide-desktop {
    .first-paragraph {
      grid-column: 1/3;
    }
    .second-paragraph {
      grid-column: 3/7;
    }
  }
}

.about-comp-scroll {
  text-align: center;

  .scroll-title {
    color: $primary-color;
    font-family: TTOctoSquaresExp, sans-serif;
  }

  .scroll-img {
    width: 80px;
    margin-top: $margin-top-primary;

    img {
      width: 100%;
    }
  }
}