@import "../../styles/variables";
@import "../../styles/rwd";

.banner-comp {
  background: url("../../assets/imgs/bgBanner.png") no-repeat center;
  background-size: cover;
  position: relative;
  min-height: 100vh;

  &-blur-bg {
    background-color: rgba(255, 255, 255, .5);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
  }

  &-container {
    min-height: calc(100vh - 61px);
    position: relative;
  }
}

.banner-comp-container .banner-comp {
  &-title, &-btn, &-scroll {
    z-index: 1;
  }

  &-title {
    color: #000000;
  }

  &-title {
    font-size: 7vw;
    text-align: center;
    font-family: TTOctoSquaresMedium, sans-serif;
    line-height: 8vw;
    @include mobile {
      font-size: 8vw;
    }
  }

  &-scroll {
    width: 80px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    img {
      width: 100%;
    }
  }
}